*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
}

.bigBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.leftBox{
    width: 30vw;
    height: 40vh;
    color: white;
}

.rightBox{
    width: 30vw;
    height: 40vh;
}